.btn{
  color: #000000 !important;
  margin: .5rem .5rem .5rem .5rem !important;
}

.link-no-decoration{
  color: #000000;
  text-decoration: none;
}

.link-no-decoration:hover{
  color: #000000;
  text-decoration: none;
}

.content-view{
  margin: 1rem 2rem 1rem 2rem !important;
}